html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f6ff;
}

* {
  box-sizing: border-box;
}

.show-loading {
  animation: show-loading .5s ease-in-out;
  opacity: 0;
  backdrop-filter: blur(10px);
}

@keyframes show-loading {
  0% { opacity: 0; }
  100% { opacity: 0.2; }
}
